img.wp-smiley,
img.emoji {
    display: inline !important;
    border: none !important;
    box-shadow: none !important;
    height: 1em !important;
    width: 1em !important;
    margin: 0 .07em !important;
    vertical-align: -0.1em !important;
    background: none !important;
    padding: 0 !important;
}

.woocommerce form .form-row .required {
    visibility: visible;
}

.btn,
input[type=button],
button {
    font-family: 'SVN-Rajdhani';
}

.color-green,
.price,
.entry-summary .amount,
.verso-timeline-item-title {
    color: #82CFD1 !important;
}

.verso-timeline-item-title {
    font-size: 27px;
}

.verso-go-top {
    box-shadow: 0 6px 6px -3px rgba(0, 0, 0, .1), 0 10px 14px 1px rgba(0, 0, 0, .07), 0 4px 18px 3px rgba(0, 0, 0, .06);
}

.verso-go-top:hover {
    box-shadow: 0 8px 9px -5px rgba(0, 0, 0, .1), 0 15px 22px 2px rgba(0, 0, 0, .07), 0 6px 28px 5px rgba(0, 0, 0, .06);
}

.products .product .price {
    font-size: 21px;
}

.vc_custom_1500625330000 {
    margin-top: 60px !important;
}

.vc_custom_1500627447031 {
    padding-top: 120px !important;
    padding-bottom: 120px !important;
}

.vc_custom_1500896313198 {
    background-color: #82cfd1 !important;
}

.vc_custom_1500896918895 {
    padding-top: 120px !important;
}

.vc_custom_1500897734778 {
    padding-top: 120px !important;
    background-color: #82cfd1 !important;
}

.vc_custom_1500898487684 {
    padding-top: 120px !important;
    padding-bottom: 120px !important;
}

.vc_custom_1500972730557 {
    margin-bottom: 30px !important;
}

.vc_custom_1505292984319 {
    margin-bottom: 10px !important;
}

.vc_custom_1500626326748 {
    margin-bottom: 20px !important;
}

.vc_custom_1500626354149 {
    margin-bottom: 30px !important;
}

.vc_custom_1505292993916 {
    margin-top: 30px !important;
    margin-bottom: 30px !important;
}

.vc_custom_1500978332582 {
    margin-bottom: 40px !important;
}

.vc_custom_1501050615618 {
    margin-bottom: 60px !important;
}

.vc_custom_1500978206666 {
    margin-top: 30px !important;
    margin-bottom: 30px !important;
}

.vc_custom_1500898003194 {
    margin-bottom: 30px !important;
}

.vc_custom_1500898161022 {
    margin-bottom: 40px !important;
}

.vc_custom_1500898277898 {
    margin-bottom: 40px !important;
}

.vc_custom_1501050624737 {
    margin-bottom: 60px !important;
}

.verso-nav-list>li>a,
.verso-nav-list>li>a:visited {
    padding: 20px 0px;
    display: block;
    color: #575e66;
    font-size: 18px !important;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.vc_custom_1501054715724 {
    padding-top: 60px !important;
    padding-bottom: 60px !important;
    background-color: #fd5046 !important;
}

.vc_custom_1500983367121 {
    background-color: #f75445 !important;
}

.vc_custom_1501055926075 {
    padding-top: 60px !important;
    padding-bottom: 120px !important;
    background-color: #f75445 !important;
}

.section {
    position: relative !important;
    z-index: 1;
}

.section-background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 2;
}

.vc_custom_1501056904901 {
    padding-top: 120px !important;
    padding-bottom: 120px !important;
    background-color: #f75445 !important;
}

.vc_custom_1501056886313 {
    padding-top: 120px !important;
    padding-bottom: 120px !important;
}

.vc_custom_1501055871815 {
    padding-top: 70px !important;
    padding-right: 70px !important;
    padding-bottom: 70px !important;
    padding-left: 70px !important;
}

.vc_custom_1501055481061 {
    padding-top: 60px !important;
    padding-bottom: 180px !important;
}

.vc_custom_1500983581490 {
    margin-bottom: 0px !important;
    padding-top: 60px !important;
    padding-bottom: 60px !important;
}

.woocommerce-checkout .col2-set .col-1 .form-row,
.woocommerce-checkout .col2-set .col-2 .form-row {
    flex: 0 0 100%;
    max-width: 100%;
}